* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: #333;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  display: grid;
  background-color: #080053;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(6, 80px);
  gap: 5px;
  padding: 20px;
}

button {
  font-size: 2.5em;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

#display {
  grid-column: 1 / span 4;
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 2.5em;
  text-align: right;
  word-wrap: break-word;
}

.positiveNegative,
.percent,
.number,
.decimal {
  background-color: #f0f0f0;
}

.positiveNegative:hover,
.percent:hover,
.number:hover,
.decimal:hover {
  background-color: #b6b4b4;
}

.operator {
  background-color: #ff9800;
  color: #fff;
}

.operator:hover {
  background-color: #e08805;
}

.equals {
  background-color: #00ff51b1;
  color: #fff;
}

.equals:hover {
  background-color: #08c844b1;
}

.clear {
  grid-column: 1 / span 2;
  background-color: #ff0000;
  color: #fff;
}

.clear:hover {
  background-color: #d00101;
}

p { 
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}